$breakpoints: (
  'desktopWide': 1440px,
  'desktopMiddle': 1200px,
  'desktop': 1024px,
  'tabletWide': 991px,
  'tabletMiddle': 768px,
  'tablet': 680px,
  'mobileWide': 576px,
  'mobileMiddle': 480px,
  'mobile': 400px,
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 0.2px;
    }

    @media screen and ( #{$type}-width: $width) {
      @content;
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 0;

  @include mq('desktopWide') {
    max-width: 1200px;

    @include mq('desktopMiddle') {
      max-width: 991px;

      @include mq('tabletWide') {
        max-width: 100%;
        padding: 16px ;
      }
    }
  }
}

.root {
  min-height: 100vh;
  background: var(--bg-primery);
}

.page {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
