* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #ffffff;
}

<<<<<<< HEAD
button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

=======
>>>>>>> c8e93acd4fd423286835c641a180a3ac8f70d224
ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}
