:root {
  .root.light {
    --header-bg: #fff;
  }

  .root.dark {
    --header-bg: #000;
    --header-logo-bg: #ff;

    --root-bg: #121212;


    //text colors
    --txt-primery: #ffffff;
    --txt-secendery: #9e9e9e;
    --root-bg: #121212;
  }
}
