.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.text_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.title {
  color: var(--txt-primery);
}

.subtitle {
  color: var(--txt-secendery);
  text-align: center;
}

